#skills {
  overflow: hidden;
  width: 90%;
  display: flex;
  flex-direction: column;
  margin: auto;
  text-align: center;
  color: whitesmoke;
  padding: 20px;
}

.skillTitle {
  font-size: 38px;
  text-align: center;
  color: whitesmoke;
}

.skillBars {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  text-align: center;
  gap: 20px;
}
.skillBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 300px;
  padding: 2rem;
  border-radius: 15px;
  background: rgb(40, 40, 40);
  transition: 0.3s ease-in-out;
}
.skillBar:hover{
  transform: scale(1.1);
}

.skillBarText {
  font-size: 18px;
}

.skillBarText>h1 {
  margin-bottom: 1rem;
}

.skillBarText>p {
  font-size: 17px;
  margin-top: 0.5rem;
}

.skillBar>svg {
  width: 50px;
  height: 50px;
  margin: 0 auto;
}

.PSsvg {
  width: 50px;
  height: 50px;
  margin: 0 auto;
}

/* @keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.gradient {
  position: absolute;
  z-index: -1;
  margin: 0 auto;
  margin-top: 8rem;
  right: 0;
  left: 0;
  --speed: 50s;
  --easing: cubic-bezier(0.8, 0.2, 0.2, 0.8);
  width: var(--size);
  height: var(--size);
  --size: 90vw;
  filter: blur(calc(var(--size) / 7));
  background-image: linear-gradient(hsl(158, 82%, 57%) 45%, hsl(252, 100%, 57%));
  animation: rotate var(--speed) var(--easing) alternate infinite;
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
}

@media screen and (min-width:440px) {
  .gradient {
    --size: 35vw;
  }

} */